body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.search-section {
  margin: 5vh auto;
  width: 30vw;
}

.title {
  font-size: 26px;
}

.input,
.search-result {
  width: 70%;
  font-size: 26px;
}

.search-btn {
  font-size: 26px;
}

.search-result {
}

.result-list {
  margin: 0;

  font-size: 26px;
  width: 100%;
  border: 1px solid black;
  border-top: 0;
  list-style: none;
  background-color: #f7f7f7;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  padding-top: 7px;
  box-shadow: 0px 2px 5px #888888;
}

.hidden {
  display: none;
}

li:hover {
  background-color: #fff;
  cursor: pointer;
}
